@{
    ViewData["Title"] = "ReceIve";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" disabled /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="input-data" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendMsg1" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesRes"></ul>
        </div>
    </div>
</div>

<script>

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/recevieHub?connectionId=userId")
        .withAutomaticReconnect()
        .configureLogging(signalR.LogLevel.Information)
        .build();
   
    connection.on("ReceiveMessage", function (message) {
        var li = document.createElement("li");
        document.getElementById("messagesRes").appendChild(li);
        li.textContent = `${message}`;
    });

    connection.on("ReceiveData", function (message) {
        var li = document.createElement("li");
        document.getElementById("messagesRes").appendChild(li);
        li.textContent = `${message}`;
    });

    connection.onreconnecting((error) => {
        console.log("SignalR reconnecting...", error);
    });

    connection.onreconnected((connectionId) => {
        console.log("SignalR reconnected with connectionId:", connectionId);
    });

    function start() {
        connection.start().then(function () {
            console.log("SignalR链接成功");
        }).catch((err) => {
            console.error(err.toString());
        });
    }

    start();

    $("#sendMsg1").on("click", function () {
        var connectionId = connection.connectionId;
        var data = document.getElementById("input-data").value;
        //connection.invoke("SendMessage", data).catch(function (err) {
        //    return console.error(err.toString());
        //});

        var sendparams = JSON.stringify({
            connectionId: connectionId,
            message: data
        });
        $.ajax({
            url: "/Home/SendData",
            contentType: "application/json",
            data: sendparams,
            type: "post",
            dataType: "json",
            success: function (res) {
                console.log(res)
            }
        });

    })
</script>
